@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@media (min-width: 900px) and (max-width: 5400px){
  main{
      width: 900px;
      margin: auto;
  }

}
@media (min-width: 700px) and (max-width: 900px){
  main{
      width: 680px;
      margin: auto;
  }
  
}
@media (min-width: 500px) and (max-width: 700px){
  main{
      width: 480px;
      margin: auto;
  }
  
}
@media (min-width: 340px) and (max-width: 500px) {
  main{
          width: 300px;
          margin: auto;
  }
  
}



p{
  text-align: justify;
  text-indent: 2em ;
  padding: 10px;
  color: black;
}

section{
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffffe0;

}

#T1{
  color: white;
}

h1, h2, h3 {
  color: #03A64A;
}


.imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#algusto>img{
    border-radius: 50%;
  }

#algusto{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.button {
  display: inline-block;
  background-color: #026873;
  color: #fff;
  margin-top: 5px;
  padding: 5px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  }

.button:hover {
  background-color: #03A64A;
  }


body {
  background-color: #f1f9ff;
  font-family: Arial, sans-serif;
  color: #00461e;
  margin: 0;
  padding: 0;
  }

h1, h2, p {
  margin: 0;
  }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  }

  
header {
  background-color: #024059;
  text-align: center;
  padding-bottom: 1px;
}

menu{
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
}

menu>a{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 19px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 40px;

}
menu>a:hover{
  padding: 5px;
  color: #ffffff;
  background-color: #03A64A;
}

h1 {
  color: #03A64A;
  font-size: 24px;
  }

section {
  margin-bottom: 20px;
  }

h2 {
  color: #024059;
  font-size: 20px;
  margin-bottom: 10px;
  }

p {
  line-height: 1.5;
  }



a {
  color: #002024;
  text-decoration: none;
  }

a:hover {
  color: #026873;
  }



footer {
  background-color: #024059;
  padding: 20px;
  text-align: center;
  color: #fff;
  }